.container {
  --p: var(--h3);
  --hColor: var(--white);
  --textColor: var(--white);
  background: var(--blue);
  position: relative;
  background-image: url("/images/herobg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.container > * {
  color: var(--white);
}

.container > p {
  line-height: 0.8rem;
  font-size: 1.5rem;
}

.highlight {
  color: var(--pink);
}

.buttonSecondary {
  background: transparent;
  color: var(--buttonTextColor);
  appearance: none;
  border: none;
  border-radius: 60px;
  height: 50px;
  box-shadow: none;
  border: 2px solid white;
  min-width: 200px;
  transition: 0.3s all ease-in-out;
}
